<!DOCTYPE html>
<html lang="en">
<head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Cover Page</title>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>

  <style>
    body {
      background-color: #FFFFFF;
    }
    
    header {
      background-color: #333333;
      color: #FFFFFF;
      padding: 20px;
    }
  </style>
</head>



<body>
  <%= render "home/header" %>

  <div class="container-fluid">
 
  </div>

  
  

  <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" %>
</body>
</html>









<div class="container">
  <div class="row">
    <div class="col-md-12">
    <%= image_tag image_path('crowdays'), alt: 'crowdays image', class: 'img-fluid', style: 'width: 1300px; height: 1300px;' %>
    <%= image_tag image_path('VOC2'), alt: 'Ruby cover art image', class: 'img-fluid', style: 'width: 1000px; height: 800px;' %>
     </div>
  </div>
  <div class="row">
    <div class="col-md-12">
       <h2 id="my-name" style="color: red; font-weight: bold; margin-top: -550px; margin-left: -5x;">Hello there!! My name is</h2>
  </div>
</div>
</div>
<div class="row justify-content-center">
  <div class="col-md-8 mx-auto" style="margin-top: -320px;">  <section id="middle">
  
</section>

    <hr style="border-top: 1px solid #ccc; margin-top: 0;">
    <h2><span style="font-family: 'Segoe UI'; display: inline-block; margin-right: 100px; color: #dc3545;"><b>About</b></span></h2>
    <p>I'm a developer experienced in Ruby, Ruby on Rails, and SQL. Passionate about programming and continuously learning new skills to improve my craft. I'm particularly proud of my Password Manager program and the Water Company billing calculator I developed. In my spare time, I enjoy staying up-to-date on the latest programming trends and technologies.</p>
    <div class="social-links">
  <%= link_to 'https://twitter.com/YourTwitterHandle' do %>
    <%= image_tag image_path('Twitter'), alt: 'Twitter image', class: 'img-fluid', style: 'width: 50px; height: 35px;' %>
  <% end %>
  <%= link_to 'https://www.instagram.com/tripthr333/' do %>
    <%= image_tag image_path('insta'), alt: 'insta image', class: 'img-fluid', style: 'width: 30px; height: 30px;' %>
  <% end %>
<br> 
<br> 
<br>
<br>
<br>
<br>



<style>
  .card-title {
  font-size: 16px;
}

  .card-body {
    line-height: 1.2;
  }
</style>
    
<div class="row">
  <div class="col-md-3">
    <div class="card mb-4 shadow-sm">
      <div class="card-body d-flex align-items-center">
        <%= image_tag image_path('pic1'), alt: 'insta image', class: 'img-fluid mr-2', style: 'width: 50px; height: 30px;' %>
        <div>
          <h1 class="card-title">Ruby</h1>
          <p class="card-text">2 Months experience</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card mb-4 shadow-sm">
      <div class="card-body d-flex align-items-center">
        <%= image_tag image_path('pic2'), alt: 'insta image', class: 'img-fluid mr-2', style: 'width: 50px; height: 30px;' %>
        <div>
          <h5 class="card-title">Ruby on rails</h1>
          <p class="card-text">2 month experience</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card mb-4 shadow-sm">
      <div class="card-body d-flex align-items-center">
        <%= image_tag image_path('pic3'), alt: 'insta image', class: 'img-fluid mr-2', style: 'width: 50px; height: 30px;' %>
        <div>
          <h5 class="card-title">Python </h5>
          <p class="card-text">1 months experience</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card mb-4 shadow-sm">
      <div class="card-body d-flex align-items-center">
        <%= image_tag image_path('pic4'), alt: 'insta image', class: 'img-fluid mr-2', style: 'width: 50px; height: 30px;' %>
        <div>
          <h5 class="card-title">squlite</h5>
          <p class="card-text">1 month experience</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-3">
    <div class="card mb-4 shadow-sm">
      <div class="card-body d-flex align-items-center">
        <%= image_tag image_path('pic5'), alt: 'insta image', class: 'img-fluid mr-2', style: 'width: 50px; height: 30px;' %>
        <div>
          <h1 class="card-title">Hdml</h1>
          <p class="card-text">1 Month experience</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card mb-4 shadow-sm">
      <div class="card-body d-flex align-items-center">
        <%= image_tag image_path('pic6'), alt: 'insta image', class: 'img-fluid mr-2', style: 'width: 50px; height: 30px;' %>
        <div>
          <h5 class="card-title">Java script</h1>
          <p class="card-text">1 month experience</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card mb-4 shadow-sm">
      <div class="card-body d-flex align-items-center">
        <%= image_tag image_path('pic7'), alt: 'insta image', class: 'img-fluid mr-2', style: 'width: 50px; height: 30px;' %>
        <div>
          <h5 class="card-title">Css </h5>
          <p class="card-text">1 month experience</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card mb-4 shadow-sm">
      <div class="card-body d-flex align-items-center">
        <%= image_tag image_path('pic8'), alt: 'insta image', class: 'img-fluid mr-2', style: 'width: 50px; height: 30px;' %>
        <div>
          <h5 class="card-title">perl</h5>
          <p class="card-text">1 month experience</p>
        </div>
      </div>
    </div>
  </div>

<div class="row">
  <div class="col-md-3">
    <div class="card mb-4 shadow-sm">
      <div class="card-body d-flex align-items-center">
        <%= image_tag image_path('pic9'), alt: 'insta image', class: 'img-fluid mr-2', style: 'width: 50px; height: 30px;' %>
        <div>
          <h1 class="card-title">Photo shop</h1>
          <p class="card-text">6 years experience</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card mb-4 shadow-sm">
      <div class="card-body d-flex align-items-center">
        <%= image_tag image_path('pic10'), alt: 'insta image', class: 'img-fluid mr-2', style: 'width: 50px; height: 30px;' %>
        <div>
          <h5 class="card-title">git</h1>
          <p class="card-text">1 month experience</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card mb-4 shadow-sm">
      <div class="card-body d-flex align-items-center">
        <%= image_tag image_path('pic11'), alt: 'insta image', class: 'img-fluid mr-2', style: 'width: 50px; height: 30px;' %>
        <div>
          <h4 class="card-title">power shell </h5>
          <p class="card-text">1 month experience</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card mb-4 shadow-sm">
      <div class="card-body d-flex align-items-center">
        <%= image_tag image_path('pic12'), alt: 'insta image', class: 'img-fluid mr-2', style: 'width: 50px; height: 30px;' %>
        <div>
          <h4 class="card-title">Linux</h5>
          <p class="card-text">1 month experience</p>
        </div>
      </div>
    </div>
  </div>

  
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<h1>Projects</h1>
<p>Below are some of my recent projects, with a link displayed to git GitHub
</p> Feel free to clickthe link and see the code, and read the "README" for more information.
<br>
<br>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Project Name</th>
      <th scope="col">Description</th>
      <th scope="col">GitHub</th>
    </tr>
  </thead>
  <tbody>
    <tr class="simple">
      <th scope="row">1</th>
      <td>Ruby Blackjack</td>
      <td>Blackjack game made in ruby</td>
      <td><a href="https://github.com/crowdays/Ruby-Black-Jack" target="_blank" class="btn btn-outline-dark">GitHub</a></td>

    <tr class="not-simple">
      <th scope="row">2</th>
      <td>Ruby Password-Manager</td>
      <td>Stores passwords in a database </td>
      <td><a href="https://github.com/crowdays/Password-Manager" target="_blank" class="btn btn-outline-dark">GitHub</a></td>

    </tr>
    <tr class="simple">
      <th scope="row">3</th>
      <td>Ruby simple quiz</td>
      <td>Quiz template with questions</td>
      <td><a href="https://github.com/crowdays/Ruby-Simple-Quiz" target="_blank" class="btn btn-outline-dark">GitHub</a></td>

    </tr>
    <tr class="not-simple">
      <th scope="row">4</th>
      <td>Ruby Water useage calculator </td>
      <td>Calculate water usage, and display charge in .txt</td>
      <td><a href="https://github.com/crowdays/Water-Bill-Sewage-Calculator" target="_blank" class="btn btn-outline-dark">GitHub</a></td>
    </tr>
     </tr>
    <tr class="not-simple">
      <th scope="row">5</th>
      <td>Friend App using Rails </td>
      <td>simple friends app </td>
      <td><a href="https://github.com/crowdays/railsfriends" target="_blank" class="btn btn-outline-dark">GitHub</a></td>
    </tr>
     </tr>
    <tr class="not-simple">
      <th scope="row">6</th>
      <td>Cover page using rails</td>
      <td>My personal rails cover page</td>
      <td><a href="https://github.com/crowdays/updatedcoverpage" target="_blank" class="btn btn-outline-dark">GitHub</a></td>
    </tr>
     </tr>
    
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2"><button class="btn btn-primary simple-btn">Simple Projects</button></td>
      <td></td>
      <td><button class="btn btn-danger not-simple-btn">Not Simple Projects</button></td>
      <td><button class="btn btn-secondary show-all-btn">Show All</button></td>
  
    </tr>
  </tfoot>
</table>
<br>
<br>
<br>
<br>
<br>
<script>
  $(document).ready(function(){
    // show all rows on page load
    $("tbody tr").show();

    // hide rows that do not have the class "simple" or "not-simple"
    $("tbody tr:not(.simple, .not-simple)").hide();

    // show/hide rows based on button click
    $(".simple-btn").click(function(){
      $("tbody tr:not(.simple)").hide();
      $("tbody tr.simple").show();
    });

    $(".not-simple-btn").click(function(){
      $("tbody tr:not(.not-simple)").hide();
      $("tbody tr.not-simple").show();
    });
    
    $(".show-all-btn").click(function(){
      $("tbody tr").show();
    });

    // change button colors
    $(".simple-btn").removeClass("btn-primary").addClass("btn-secondary");
    $(".not-simple-btn").removeClass("btn-primary").addClass("btn-danger");
    $(".show-all-btn").removeClass("btn-primary").addClass("btn-info");
  });
</script>
<br>
<br>
<br>
<br>
<br>


<style>
  /* Styles for the button container */
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

 
  .big-button {
    display: inline-block;
    padding: 20px 50px;
    background-color: #dc3545;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    font-size: 24px;
    transition: background-color 0.2s ease;
  }

  .big-button:hover {
    background-color: #0062cc;
  }

 
  h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
  }
</style>

<br>
<br>
<br>



<script>
  function changeText() {
  var currentName = document.getElementById("my-name").innerHTML;
  var newName = "";
  var newColor = "";
  
  if (currentName === "Hello there, My name is") {
    newName = "Lorenzo Demario Juarez.";
    newColor = "white";
  } else if (currentName === "Lorenzo Demario Juarez.") {
    newName = "Thank you for checking out my page!!";
    newColor = "yellow";
  } else {
    newName = "Hello there, My name is";
    newColor = "red";
  }
  
  document.getElementById("my-name").innerHTML = newName;
  document.getElementById("my-name").style.color = newColor;
}

// Display "Lorenzo Demario Juarez" 
document.getElementById("my-name").innerHTML = "Hello there!! My name is,";
document.getElementById("my-name").style.color = "red";
setInterval(changeText, 3000);


</script>




<%= render "home/footer" %>



